useDynLib(pedigreeTools, .registration=TRUE)

import("Matrix")

export("Dmat", "inbreeding", "relfactor", "pedigree")

exportClasses("pedigree")

exportMethods(
              "coerce",
              "head",
              "show",
              "tail"
              )
