useDynLib(pedigreemm, .registration=TRUE)

#import("Matrix")
import("lme4")

export("pedigree")

exportClasses("pedigree", "pedinbred")

exportMethods(#"chol",
              "coerce",
              "head",
              "show",
              "tail"
              )
