useDynLib(pedigreemm, .registration=TRUE)

import("Matrix")
import("lme4")

export("pedigree", "pedigreemm")

exportClasses("pedigree", "pedinbred")

exportMethods(
              "coerce",
              "head",
              "show",
              "tail"
              )
